# deps
node_modules/
**/node_modules/

# builds
dist/
**/dist/
.next/
build/

# env / secrets
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# os / editor
.DS_Store
**/.DS_Store
.smbdelete*
*.log
